<nav class='navbar navbar-nav'>
  <div class='container-fluid'>
   
    <li><button class="btn btn-primary" [routerLink]="['/get']">Getdetails</button></li>
    <li><button class="btn btn-primary" [routerLink]="['/add']">Addmovie</button></li>
    <li><button class="btn btn-primary" [routerLink]="['/delete']">Deletemovie</button></li>
  
  <!--  <li><button class="btn btn-primary" [routerLink]="['/delete']">delete</button></li>
    <li><button class="btn btn-primary" [routerLink]="['/update/:id']">update</button></li>-->
   
  </div>
</nav>
<router-outlet></router-outlet>